.error {
  border: 2px solid red;
  box-shadow: 0 0 4px rgb(240, 57, 57);
}


body {
  background-color: #eca1cd;
  color: #080808;
  font-family: Arial, sans-serif;
}

main {
  padding: 2rem;
}


.tabela1 {
  width: 80%;
  border-collapse: collapse;
  margin: 2rem auto;
  border: 2px solid black; /* Adicionando borda preta */
}

.tabela1 th,
.tabela1 td {
  border: 1px solid #ccc;
  padding: 1rem; /* Aumentando o padding */
  text-align: left;
}

.tabela1 th {
  background-color: #ff66b2;
  color: #fff;
}

.tabela1 tr:nth-child(even) {
  background-color: #f0f0f0;
}


form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 1px auto; 
  max-width: 600px;
}

.form-label {
  color: #ff66b2;
  font-weight: bold;
}

.form-control {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 3px;
}

.form-text {
  color: #888;
}

.btn-primary {
  background-color: #ff66b2;
  border-color: #ff66b2;
}

.btn-primary:hover {
  background-color: #e64d8e;
  border-color: #e64d8e;
}


h1 {
  font-family: 'Tilt Prism', cursive;
  color: black;
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
  background-color: white;
 padding: 20px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


h2{
  text-align: center;
  color: #641637;
  font-family: 'Tilt Prism', cursive;
}

#alinhar{
  text-align: justify;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

p{
  text-align: justify;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  font: 10px;
}

img{
  width: 3px;
  height: 5px;
}

.container {
  text-align: center;
}
.image {
  display: inline-block;
}